.name {font: bold 14px sans-serif;}
.description {font: 10px sans-serif;}
.collection {font: 4px sans-serif;}

body{
	background-color: #fffff8
}

.scroll1::-webkit-scrollbar {
	width: 5px;
}
   
.scroll1::-webkit-scrollbar-track {
	background: #ddd;
}
   
.scroll1::-webkit-scrollbar-thumb {
	background: #666; 
}

header{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: #fffff8;
	-moz-box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
	box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}

.gamecard{
	background: transparent;
	perspective: 1000px;
}

.card__inner{
	width:100%;
	height:100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	position:static;
}

.card__inner.first-flip{
	transform: rotateY(180deg);
}

.card__inner.discard{
	animation: discard 1s;
}

.card__face--front,
.card__face--back{
	transform: rotateX(0deg);
}

.card__face--front{
	width:100%;
	height:100%;
	transform: rotateY(180deg);	
}

.card__face{
	position:absolute;
	width:100%;
	height:100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.card__below{
	position: absolute;
	width: 125%;
	height: auto;
	top: 0;
	left: 0;
}

.hidden-container{
	z-index: 1;
}

.blur{
	filter: blur(50px);
	-webkit-filter: blur(50px);
}

.dobble-card{
	width: 20%;
	height: 50%;
	padding-left: 3%;
}

#dobble-results{
	text-align: center;
}

.not-in-phase{
	opacity: 0.5
}

.debate_img{
	max-width: 75%;
	height: auto;
	margin-left: 2rem;
}

.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
	animation: none !important;
}

@keyframes discard{
	0%{
		transform: rotateZ(-1deg) rotateY(180deg);
	}
	10%{
		transform: rotateZ(-5deg) rotateY(180deg);
	}
	50%{
		transform: rotateZ(-5deg) translateX(-20%) rotateY(180deg);
	}
	100%{
		transform: rotateZ(-5deg) translateX(-300%) rotateY(180deg);
	}
}




